a:link {
    text-decoration: none;
    color:black;
    background-color: rgb(250, 151, 241);
}
a:visited {
    text-decoration: none;
    color: rgb(78, 61, 135);
}
a:active {
    text-decoration: none;
    color: green;
}
a:hover {
    text-decoration: none;
    color: rgb(167, 200, 2);
}
.lol{
    border: 2px solid violet;
    background: powderblue;
    height: 30vh;
    width: 50vw;
}
.lol:hover{
    background: lightsalmon;
}
.lol:active{
    background-color: lightseagreen;
}
.div::first-line{
    color: red;
}
.div::first-letter{
    font-size: 30px;
    color: darkgreen;
}
ul{
    list-style: none;

}
.dis{
    display: inline;
    border: 2px solid green;
}
.tiro{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.content{
     height: 60px;
    width: 80px;
    border: 2px solid violet;
}